In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
from collections import Counter

In [4]:
data = pd.read_csv('C:/Users/gadopyatikna/KillFactory/movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1079,tt1876451,14000000,24637469,Sparkle,Whitney Houston|Cee Lo Green|Derek Luke|Mike E...,Salim Akil,Celebrate the legend.,"Musical prodigy, Sparkle (Jordin Sparks) strug...",116,Drama|Music,TriStar Pictures|Phoenix Pictures|Stage 6 Film...,8/17/2012,5.9,2012
853,tt1067774,20000000,17425000,Monte Carlo,Selena Gomez|Katie Cassidy|Cory Monteith|Leigh...,Thomas Bezucha,She's having the time of someone else's life.,Three young women vacationing in Paris find th...,109,Adventure|Comedy|Romance,Dune Entertainment|Regency Enterprises|Fox 200...,7/1/2011,5.9,2011
828,tt1399103,195000000,1123746996,Transformers: Dark of the Moon,Shia LaBeouf|John Malkovich|Ken Jeong|Frances ...,Michael Bay,The invasion we always feared. An enemy we nev...,Sam Witwicky takes his first tenuous steps int...,154,Action|Science Fiction|Adventure,Paramount Pictures|Di Bonaventura Pictures|Has...,6/28/2011,6.1,2011
369,tt1071812,25000000,20719451,Mao's Last Dancer,Chi Cao|Chengwu Guo|Wen Bin Huang|Joan Chen|Br...,Bruce Beresford,æœ€åŽçš„èˆžè€…,"At the age of 11, Li was plucked from a poor C...",117,Drama|Romance,Great Scott Productions Pty. Ltd.,10/1/2009,6.7,2009
103,tt1976009,40000000,34227298,Victor Frankenstein,James McAvoy|Daniel Radcliffe|Jessica Brown Fi...,Paul McGuigan,Discover the origin of the monster and his cre...,Eccentric scientist Victor Von Frankenstein cr...,109,Drama|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Davis E...,11/10/2015,5.5,2015

In [10]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов
data=data.assign(profit=data.revenue-data.budget)
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
data[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [11]:
data[data.runtime==data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'

In [13]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107'

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'

In [17]:
data[data.profit==data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [19]:
data[data.profit==data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1. 1478'

In [21]:
data[data.revenue>data.budget].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [23]:
x=data[data.release_year==2008]
x[x.revenue==x.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '5. The Lone Ranger (tt1210819) верно'

In [25]:
x=data[(data.release_year>=2012) & (data.release_year<=2014)]
x[x.profit==x.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

In [27]:
a=[]
for i in data.genres:
    b=i.split('|')
    a=sorted(a + b)
final_set=Counter(a) 
Keymax = max(final_set, key= lambda x: final_set[x])
print(Keymax)

Drama

ВАРИАНТ 2

In [28]:
a=data.copy()
a.genres=a.genres.str.split('|')
a=a.explode('genres')
a.genres.value_counts().idxmax()

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = '1. Drama'

In [30]:
a=data.copy()
a.genres=a.genres.str.split('|')
a=a.explode('genres')
a[a.profit>0].genres.value_counts().idxmax()

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
answers['13'] = '5. Peter Jackson'

In [32]:
a=data.copy()
a.director=a.director.str.split('|')
a=a.explode('director')
b=a.groupby(by='director').sum('revenue')
b[b.revenue==b.revenue.max()]

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = '3. Robert Rodriguez'

In [34]:
a=data.copy()
a.director=a.director.str.split('|')
a=a.explode('director')
a.genres=a.genres.str.split('|')
a=a.explode('genres')
a[a.genres=='Action'].director.value_counts().idxmax()

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = '3. Chris Hemsworth'

In [36]:
a=data.copy()
a.cast=a.cast.str.split('|')
a=a.explode('cast')
b=a[(a.release_year==2012)].groupby(by='cast').max('revenue')
b[b.revenue==b.revenue.max()]

,budget,revenue,runtime,vote_average,release_year,profit
cast,,,,,,
Chris Evans,220000000,1519557910,143,7.3,2012,1299557910
Chris Hemsworth,220000000,1519557910,143,7.3,2012,1299557910
Mark Ruffalo,220000000,1519557910,143,7.3,2012,1299557910
Robert Downey Jr.,220000000,1519557910,143,7.3,2012,1299557910
Scarlett Johansson,220000000,1519557910,143,7.3,2012,1299557910

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = '3. Matt Damon'

In [38]:
a=data.copy()
a.cast=a.cast.str.split('|')
a=a.explode('cast')
a[a.budget>a.budget.mean()].cast.value_counts().idxmax()

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = '2. Action'

In [40]:
a=data.copy()
a.cast=a.cast.str.split('|')
a=a.explode('cast')
a.genres=a.genres.str.split('|')
a=a.explode('genres')
a[a.cast=='Nicolas Cage'].genres.value_counts().idxmax()

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [42]:
a=data.copy()
a.production_companies=a.production_companies.str.split('|')
a=a.explode('production_companies')
b=a[a.production_companies=='Paramount Pictures']
b[b.profit==b.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '5. 2015'

In [44]:
a=data.copy()
b=a.groupby(by='release_year').sum('revenue')
b[b.revenue==b.revenue.max()]

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '1. 2014'

In [46]:
a=data.copy()
a.production_companies=a.production_companies.str.split('|')
a=a.explode('production_companies')
b=a[a.production_companies.str.contains('Warner Bros.')].groupby(by='release_year').sum('profit')
b[b.profit==b.profit.max()]

                 budget     revenue  runtime  vote_average      profit
release_year
2014          953600000  3246549646     1683          95.2  2292949646

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = '4. Сентябрь'

In [48]:
a=data.copy()
a.release_date=a.release_date.str.split('/').str[0]
a.groupby(by='release_date').release_date.value_counts().idxmax()

('9', '9')

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = '2. 450'

In [50]:
a=data.copy()
a.release_date=a.release_date.str.split('/').str[0]
a[a.release_date.isin(['6','7','8'])].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [51]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819) верно',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450'}

In [52]:
# и убедиться что ни чего не пропустил)
len(answers)

22